.Showcase {
    height: 25vh;
    background-color: black;
    display: flex;
    align-items: center;
}

.Showcase_div {
    margin-left: 4vh;
    margin-right: 4vh;
    display: flex;
    align-content: center;
    justify-content: space-evenly;

}

.Showcase_img {
    height: 15vh;
    border-radius: 8%;
    width: 17vw;
}

.Showcase_description {
    color: #FEDA84;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1vh;
}