.containerCryptoList{
    height: 100%;
    width: 14% !important;
    background-color: #3a3c6d;
}

.buttonGroup.selected {
    background-color: gold;
  }
  
  .cryptoListItem.selected {
    background-color: gold;
  }

  
.css-1oqqzyl-MuiContainer-root {
    padding: 0 !important;
}

.css-heg063-MuiTabs-flexContainer {
    justify-content: space-evenly !important;
}

.buttonGroup{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}