.containerCryptoList{
    background-color: brown;
    height: 100%;
    width: 14% !important;
}

.css-1oqqzyl-MuiContainer-root {
    padding: 0 !important;
}

.css-heg063-MuiTabs-flexContainer {
    justify-content: space-evenly !important;
}

.buttonGroup{
    width: 100%;
    height: 100%;
}