.containerHeadBand {
  background-color: aqua;
  height: 6%;
  overflow: hidden;
}

.slider {
  margin: auto;
  width: 90%;
  height: 100%;
}

.slide-track {
  display: flex;
  width: calc(170px * 18);
  animation: scroll 20s linear infinite;
  height: 100%;
}

.slide {
  display: flex;
  align-items: center;
  width: 170px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-170px * 9));
  }
}
